.featured-movie-title {
    color: white;
    margin: 0;
    padding: 0;
    padding-top: 0.75rem;
}

.button-slide {
    color: #FFD027;
    font-size: xxx-large;
    font-weight: bold;
    padding: 0 0.75rem 0 0.75rem;
    background-color: #183D63;
}

.button-slide:hover {
    background-color: rgba(0,0,0,.4);
}

@media only screen and (max-width: 380px) {
    #main-component-container-featured-movies {
        padding: 0.25rem 0 1rem 0;
        margin: 0rem 0 1rem 0;
        border-left: none;
        border-right: none;
    }
}
@media only screen and (max-width: 750px) {
    .button-slide {
        font-size: large;
        font-weight: bold;
        padding: 0 0.75rem 0 0.75rem;
    }
}