.list-item {
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    border: 1px solid grey;
    background-color: white;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
}

.thread-movie-list-item-parent {
    padding: 1rem;
    padding-bottom: 0;
    background-color: white;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
}

.thread-movie-list-item {
    padding: 1rem;
    border: 1px solid grey;
    background-color: white;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    flex: 1;
}

.thread-movie-list-item-demo {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid grey;
    background-color: white;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
}


#top-section {
    display: flex;
    flex-direction: row;
    padding-bottom: 0.5rem;
    flex-grow: 1;
}

#bottom-section {
    display: flex;
}

.movie-listing-container {
    display: flex;
}

.votes {
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-profile-img {
    width: 3.5rem;
    margin-right: 1rem;
    object-fit: contain;
    border-radius: 0.25rem;
}

.user-profile-img-reply {
    display: flex;
}

#usrname-postdate {
    margin-right: 1rem;
}

#usrname-postdate-reply {
    display: flex;
    flex-direction: row;
}

#usrname-postdate-reply>* {
    padding-right: 1rem;
}

.username {
    font-weight: bold;
}

#userrating {
    display: flex;
    align-items: center;
}

.movie-listing-rating {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    border-right: 2px solid rgb(162, 162, 162);
}

.movie-listing-extra-info {
    padding-left: 1rem;
}

#star-img {
    width: 1rem;
    margin-right: 0.5rem;
}

.vote {
    cursor: pointer;
    min-width: 1.5rem;
}

.vote:hover {
    background-color: #FFD027;
    color: black;
    border-radius: 0.25rem;
}

.post-title {
    font-weight: bold;
    padding-bottom: 0.35rem;
}

.movie-listing-title {
    font-weight: bold;
    padding-bottom: 0.15rem;
    font-size: large;
}

.movie-listing-details {
    display: flex;
    padding-bottom: 0.5rem;
}

.post-text {
    align-items: center;
    display: flex;
}

.movie-listing-text {
    cursor: pointer;
    align-items: center;
    display: flex;
    flex-grow: 1;
}

.movie-thumbnail {
    width: 5rem;
    padding-right: 1rem;
    object-fit: cover;
}

.delete-button {
    min-width: 1.5rem;
    cursor: pointer;
    padding: 0.25rem;
}

.delete-button-cont {
    display: flex;
    border: 1px grey solid;
    border-radius: 0 0.25rem 0.25rem 0;
    background-color: rgb(255, 255, 255);
    margin-top: 0.5rem;
}

.movie-listing-preview {
    cursor: pointer;
}

.review-preview {
    flex-grow: 1;
}


@media only screen and (max-width: 750px) {
    .movie-listing-details {
        display: flex;
        flex-direction: column;
        border-bottom: grey solid 1px;
        margin-bottom: 0.25rem;
    }

    #top-section {
        flex-direction: column
    }
}